In [41]:
from datetime import date, timedelta, datetime, timezone

## Introduction (dates)

In [3]:
two_hurricanes_dates = [date(2016, 10, 7), date(2017, 6, 21)]
print(two_hurricanes_dates)

[datetime.date(2016, 10, 7), datetime.date(2017, 6, 21)]

In [4]:
# attributes
print(two_hurricanes_dates[0].year)
print(two_hurricanes_dates[0].month)
print(two_hurricanes_dates[0].day)
print(two_hurricanes_dates[0].weekday()) # monday = 0

2016
10
7
4

In [5]:
delta = two_hurricanes_dates[1] - two_hurricanes_dates[0]
print(delta.days)

257

In [9]:
td = timedelta(days = 257)
print(td)

257 days, 0:00:00

In [11]:
td_added = td + two_hurricanes_dates[0]
print(td_added)

2017-06-21

### Dates as a string

ISO-format
* YYYY-MM-DD

Formats
%a	Abbreviated weekday name.                      
    Sun, Mon, ...
      
%A	Full weekday name.                             
    Sunday, Monday, ...
      
%w	Weekday as a decimal number.                   
    0, 1, ..., 6
        
%d	Day of the month as a zero-padded decimal.     
    01, 02, ..., 31
        
%-d	Day of the month as a decimal number.	       
    1, 2, ..., 30
       
%b	Abbreviated month name.	                       
    Jan, Feb, ..., Dec
        
%B	Full month name.	                           
    January, February, ...
        
%m	Month as a zero-padded decimal number.	       
    01, 02, ..., 12
      
%-m	Month as a decimal number.	                   
    1, 2, ..., 12
        
%y	Year without century as a zero-padded decimal number.	
    00, 01, ..., 99
       
%-y	Year without century as a decimal number.	   
    0, 1, ..., 99
        
%Y	Year with century as a decimal number.	       
    2013, 2019 etc.

In [13]:
some_dates  = [date(2017, 11, 5) , date(2022, 4, 5) ]
print(sorted(some_dates))

[datetime.date(2017, 11, 5), datetime.date(2022, 4, 5)]

In [15]:
# ISO-format
some_dates  = ['2000-01-01' , '1999-12-31']
print(sorted(some_dates))

['1999-12-31', '2000-01-01']

In [12]:
d = date(2017, 11, 5) 
print(d.isoformat())

2017-11-05

In [18]:
# Other formats
print(d.strftime("%Y"))
print(d.strftime("Year is %Y"))
print(d.strftime("%Y/%m/%d"))

2017
Year is 2017
2017/11/05

## Introduction (times)

In [21]:
# year-month-day-hour-minute-second-microseconds AM/PM)
dt = datetime(2017, 10, 1, 3, 23, 25, 50000)
print(dt)

2017-10-01 03:23:25.050000

In [23]:
dt_hr = dt.replace(minute=0, second=0, microsecond=0)
print(dt_hr)

2017-10-01 03:00:00

In [30]:
ts = 1514665153.0
print(datetime.fromtimestamp(ts))

2017-12-30 21:19:13

In [25]:
print(dt.isoformat())

2017-10-01T03:23:25.050000

In [24]:
print(dt.strftime("%Y-%m-%d %H:%M:%S"))

2017-10-01 03:23:25

In [29]:
dt = datetime.strptime("12/30/2017 15:19:13", "%m/%d/%Y %H:%M:%S") # need an exact match!
print(dt)
type(dt)

2017-12-30 15:19:13

datetime.datetime

### TimeDelta

In [35]:
start = datetime(2016, 10, 7, 14, 15, 16)
end = datetime(2017, 6, 21, 17, 18, 11)
duration = end - start
print(duration.total_seconds())

22215775.0

In [38]:
delta1 = timedelta(seconds=101)
print(start + delta1)

2016-10-07 14:16:57

In [40]:
delta2 = timedelta(weeks=-1)
print(start + delta2)

2016-09-30 14:15:16

## UTC offsets

In [50]:
timezone.utc

datetime.timezone.utc

In [46]:
ET = timezone(timedelta(hours = -5))
dt = datetime(2017, 6, 21, 17, 18, 11, tzinfo = ET)
print(dt)

2017-06-21 17:18:11-05:00

In [48]:
IST = timezone(timedelta(hours = 5, minutes = 30)) # India Standard time zone
print(dt.astimezone(IST)) # Convert to IST

2017-06-22 03:48:11+05:30

In [49]:
print(dt.replace(tzinfo = timezone.utc)) # UTC offset has shifted
print(dt.astimezone(timezone.utc)) # changed both the UTC offset and the clock itself

2017-06-21 17:18:11+00:00
2017-06-21 22:18:11+00:00