In [30]:
from datetime import date, timedelta, datetime, timezone
from dateutil import tz

## Introduction (dates)

In [3]:
two_hurricanes_dates = [date(2016, 10, 7), date(2017, 6, 21)]
print(two_hurricanes_dates)

[datetime.date(2016, 10, 7), datetime.date(2017, 6, 21)]

In [4]:
# attributes
print(two_hurricanes_dates[0].year)
print(two_hurricanes_dates[0].month)
print(two_hurricanes_dates[0].day)
print(two_hurricanes_dates[0].weekday()) # monday = 0

2016
10
7
4

In [5]:
delta = two_hurricanes_dates[1] - two_hurricanes_dates[0]
print(delta.days)

257

In [6]:
td = timedelta(days = 257)
print(td)

257 days, 0:00:00

In [7]:
td_added = td + two_hurricanes_dates[0]
print(td_added)

2017-06-21

### Dates as a string

ISO-format
* YYYY-MM-DD

Formats
%a	Abbreviated weekday name.                      
    Sun, Mon, ...
      
%A	Full weekday name.                             
    Sunday, Monday, ...
      
%w	Weekday as a decimal number.                   
    0, 1, ..., 6
        
%d	Day of the month as a zero-padded decimal.     
    01, 02, ..., 31
        
%-d	Day of the month as a decimal number.	       
    1, 2, ..., 30
       
%b	Abbreviated month name.	                       
    Jan, Feb, ..., Dec
        
%B	Full month name.	                           
    January, February, ...
        
%m	Month as a zero-padded decimal number.	       
    01, 02, ..., 12
      
%-m	Month as a decimal number.	                   
    1, 2, ..., 12
        
%y	Year without century as a zero-padded decimal number.	
    00, 01, ..., 99
       
%-y	Year without century as a decimal number.	   
    0, 1, ..., 99
        
%Y	Year with century as a decimal number.	       
    2013, 2019 etc.

In [13]:
some_dates  = [date(2017, 11, 5) , date(2022, 4, 5) ]
print(sorted(some_dates))

[datetime.date(2017, 11, 5), datetime.date(2022, 4, 5)]

In [8]:
# ISO-format
some_dates  = ['2000-01-01' , '1999-12-31']
print(sorted(some_dates))

['1999-12-31', '2000-01-01']

In [9]:
d = date(2017, 11, 5) 
print(d.isoformat())

2017-11-05

In [10]:
# Other formats
print(d.strftime("%Y"))
print(d.strftime("Year is %Y"))
print(d.strftime("%Y/%m/%d"))

2017
Year is 2017
2017/11/05

## Introduction (times)

In [11]:
# year-month-day-hour-minute-second-microseconds AM/PM)
dt = datetime(2017, 10, 1, 3, 23, 25, 50000)
print(dt)

2017-10-01 03:23:25.050000

In [12]:
dt_hr = dt.replace(minute=0, second=0, microsecond=0)
print(dt_hr)

2017-10-01 03:00:00

In [13]:
ts = 1514665153.0
print(datetime.fromtimestamp(ts))

2017-12-30 21:19:13

In [14]:
print(dt.isoformat())

2017-10-01T03:23:25.050000

In [15]:
print(dt.strftime("%Y-%m-%d %H:%M:%S"))

2017-10-01 03:23:25

In [16]:
dt = datetime.strptime("12/30/2017 15:19:13", "%m/%d/%Y %H:%M:%S") # need an exact match!
print(dt)
type(dt)

2017-12-30 15:19:13

datetime.datetime

### TimeDelta

In [17]:
start = datetime(2016, 10, 7, 14, 15, 16)
end = datetime(2017, 6, 21, 17, 18, 11)
duration = end - start
print(duration.total_seconds())

22215775.0

In [18]:
delta1 = timedelta(seconds=101)
print(start + delta1)

2016-10-07 14:16:57

In [19]:
delta2 = timedelta(weeks=-1)
print(start + delta2)

2016-09-30 14:15:16

## UTC offsets

In [20]:
timezone.utc

datetime.timezone.utc

In [21]:
ET = timezone(timedelta(hours = -5))
dt = datetime(2017, 6, 21, 17, 18, 11, tzinfo = ET)
print(dt)

2017-06-21 17:18:11-05:00

In [22]:
IST = timezone(timedelta(hours = 5, minutes = 30)) # India Standard time zone
print(dt.astimezone(IST)) # Convert to IST

2017-06-22 03:48:11+05:30

In [28]:
# See the difference!
print(dt.replace(tzinfo = timezone.utc)) # UTC offset has shifted
print(dt.astimezone(timezone.utc)) # changed both the UTC offset and the clock itself

2017-06-21 17:18:11+00:00
2017-06-21 22:18:11+00:00


#### Time zone in practise

It is to get the very exact time if you really care about it. As some countries change twice a year its time, it could be of importance.

In [33]:
# eastern time
et_a = tz.gettz("America/New_York")

# western time
et_e = tz.gettz("Europe/Amsterdam")

print(et_a)
print(et_e)

tzfile('US/Eastern')
tzfile('Europe/Amsterdam')

In [36]:
last = datetime(2017, 12, 30, 15, 9, 3, tzinfo = et_e)
first = datetime(2017, 10, 1, 15, 25, 23, tzinfo = et_e)
print(first)
print(last)

2017-10-01 15:25:23+02:00
2017-12-30 15:09:03+01:00

##### Summertime (spring)

In [40]:
# datetime object
spring_ahead_159am = datetime(2017, 3, 12, 1, 59, 59)
spring_ahead_159am.isoformat()
print(spring_ahead_159am)

spring_ahead_3am = datetime(2017, 3, 12, 3, 0, 0)
spring_ahead_3am.isoformat()
print(spring_ahead_3am)

# How much time has elapsed?
(spring_ahead_3am - spring_ahead_159am).total_seconds() # 1 hour + 1 second has elapsed

2017-03-12 01:59:59
2017-03-12 03:00:00

3601.0

In [45]:
# timezone object
EST = timezone(timedelta(hours=-5))
EDT = timezone(timedelta(hours=-4))

# datetime object
spring_ahead_159am = spring_ahead_159am.replace(tzinfo = EST)
spring_ahead_159am.isoformat()
print(spring_ahead_159am)

spring_ahead_3am = spring_ahead_3am.replace(tzinfo = EDT)
spring_ahead_3am.isoformat()
print(spring_ahead_3am)

# How much time has elapsed?
(spring_ahead_3am - spring_ahead_159am).total_seconds() # only 1 second has elapsed

2017-03-12 01:59:59-05:00
2017-03-12 03:00:00-04:00

1.0

In [51]:
# create timezone 
eastern = tz.gettz("Europe/New_York")

# eastern Time (EST)
spring_ahead_159am = datetime(2017, 3, 12, 1, 59, 59, tzinfo = eastern)

# eastern Time (EDT)
spring_ahead_3am = datetime(2017, 3, 12, 3, 0, 0, tzinfo = eastern)

(spring_ahead_3am - spring_ahead_159am).total_seconds()

3601.0

##### Wintertime (autumn)

In [62]:
# create timezone 
eastern = tz.gettz("US/Eastern")

# datetime object
first_1am = datetime(2017, 11, 5, 1, 0, 0)
second_1am = datetime(2017, 11, 5, 1, 0, 0)
second_1am = tz.enfold(second_1am) # this datetime belongs to the 2nd time

# is ambigious?
# tz.datetime_ambiguous(first_1am)

# no difference yet
print((first_1am - second_1am).total_seconds())

# Convert UTC
first_1am = first_1am.astimezone(tz.UTC)
second_1am = second_1am.astimezone(tz.UTC)

# Time stamps stands an hour apart
print((first_1am - second_1am).total_seconds())

0.0
0.0

### Date and time in Pandas

In [63]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# options to import date columns in pandas
df = pd.read_csv('file.csv', parse_dates = ['date_column1', 'date_column2'])
df['date_column1'] = pd.to_datetime(df['date_column1'], format = "%Y-%m-%d %H:%M:%S")

# duration
df['duration'] = (df['date_column1'] - df['date_column2']).dt.total_seconds()

In [ ]:
# some calculations with time columns
df['duration'].sum() / timedelta(days=91)

# other calculations in pandas
df['value_column'].value_counts() 

# together
df.groupby('value_column')['duration'].mean()
df.groupby('value_column').size()
df.groupby('value_column').first()

# Group by time
df.resample('M', on = 'date_column1')['duration'].mean() # M = month

# plot group-by-time
df.resample('D', on = 'date_column1')['duration'].mean().plot()

In [ ]:
# How to deal with timezones
df['date_colmn1'] = df['date_colmn1'].dt.tz_localize('America/New_York', ambiguous = 'NaT')

In [ ]:
# select year, month, day, etc
df['date_col'].dt.year
df['date_col'].dt.month
df['date_col'].dt.day
df['date_col'].dt.weekday
df['date_col'].dt.day_name()

In [ ]:
# Line up times by shift 
df['date_col'].shift(1)