# Title

## 1. Lists

In [47]:
# Hold data
fruit = ['apple', 'orange', 'pear']
vegatables = ['brocoli', 'beans', 'carrot']

In [48]:
# Combining lists
healty_food = fruit  + vegatables
print(healty_food)

['apple', 'orange', 'pear', 'brocoli', 'beans', 'carrot']

In [49]:
print(fruit)

['apple', 'orange', 'pear']

In [50]:
# Index
print(fruit[2])

pear

In [53]:
# Mutable (append)
fruit.append('lemon') # lemon is a string

In [52]:
# Mutable (extend list)
fruit.extend(vegatables) # vegatables is a list
print(fruit)

['apple', 'orange', 'pear', 'lemon', 'brocoli', 'beans', 'carrot']

In [41]:
# Remove
less_healthy = fruit.pop(-2)
print(less_healthy)
print(healty_food)

beans
['apple', 'orange', 'pear', 'lemon', 'brocoli', 'beans', 'carrot']

In [42]:
# Iterating
names_of_healthy_food = [healthy.title() for healthy in healty_food]
print(names_of_healthy_food)

['Apple', 'Orange', 'Pear', 'Lemon', 'Brocoli', 'Beans', 'Carrot']

In [43]:
# Sorting
sorted_fruit = sorted(fruit)
print(sorted_fruit)

['apple', 'brocoli', 'carrot', 'lemon', 'orange', 'pear']

## 2. Tuples
* Hold data in order
* Use index
* More memory efficient than lists
* Immutable
* Pairing
* Unpacking/expension

In [6]:
# (pre-work to make example) List combinations
us_cookies = ['Chocolate Chip', 'Brownies', 'Oreos']
in_cookies = ['Punjabi', 'Fruite Cake Rusk', 'Marble Cookies']
top_pairs = list(zip(us_cookies, in_cookies))
print(top_pairs)

[('Chocolate Chip', 'Punjabi'), ('Brownies', 'Fruite Cake Rusk'), ('Oreos', 'Marble Cookies')]

In [7]:
# Unpacking
us_num1 , in_num1 = top_pairs[0]
print(in_num1)

Punjabi

In [8]:
# Unpacking in loops
for us_cookie, in_cookie in top_pairs:
    # print value in order
    print(in_cookie)
    print(us_cookie)

Punjabi
Chocolate Chip
Fruite Cake Rusk
Brownies
Marble Cookies
Oreos

In [9]:
# Enumarating positions
for idx, item in enumerate(top_pairs):
    us_cookie, in_cookie = item
    print(idx, us_cookie, in_cookie)

0 Chocolate Chip Punjabi
1 Brownies Fruite Cake Rusk
2 Oreos Marble Cookies

#### Namedtuple
Working with named tuples `namedtuple`. 

Leveraging namedtuples provide for each field as an attribute of namedtuple.

In [ ]:
# Example without data

from collections import namedtuple

Eatery = namedtuple('Eatery', ['name', 'location', 'park_id', 'type_name'])
eateries = []

for eatery in nyc_eateries:
    details = Eatery(eatery['name'], eatery['location'], eatery['park_id'], eatery['type_name'] )
    eateries.append(details) 
    
print(eateries[0])

for eatery in eateries[:3]:
    print(eatery.name)
    print(eatery.park_id)
    print(eatery.location)

In [52]:
weight_log = [('Gentoo', 'MALE', 5500.0),
 ('Chinstrap', 'MALE', 4300.0),
 ('Adlie', 'MALE', 3800.0),
 ('Gentoo', 'MALE', 5800.0),
 ('Chinstrap', 'MALE', 4100.0),
 ('Adlie', 'MALE', 3975.0),
 ('Gentoo', 'MALE', 5400.0),
 ('Chinstrap', 'MALE', 4800.0),
 ('Chinstrap', 'FEMALE', 3800.0),
 ('Adlie', 'FEMALE', 3450.0)]

# Import namedtuple from collections
from collections import namedtuple

# Create the namedtuple: SpeciesDetails
SpeciesDetails = namedtuple('SpeciesDetails', ['species', 'sex', 'body_mass'])

# Create the empty list: labeled_entries
labeled_entries = []

# Iterate over the weight_log entries
for species, sex, body_mass in weight_log:
    # Create a new instance of SpeciesDetails namedtuple for each entry
    species_details = SpeciesDetails(species, sex, body_mass)
    # Append the new instance to labeled_entries
    labeled_entries.append(species_details)
    
print(labeled_entries[:5])

[SpeciesDetails(species='Gentoo', sex='MALE', body_mass=5500.0), SpeciesDetails(species='Chinstrap', sex='MALE', body_mass=4300.0), SpeciesDetails(species='Adlie', sex='MALE', body_mass=3800.0), SpeciesDetails(species='Gentoo', sex='MALE', body_mass=5800.0), SpeciesDetails(species='Chinstrap', sex='MALE', body_mass=4100.0)]

In [53]:
# Iterate over the first twenty entries in labeled_entries
for entry in labeled_entries[:20]:
    # if the entry's species is Chinstrap
    if entry.species == 'Chinstrap':
      # Print each entry's sex and body_mass seperated by a colon
      print(f'{entry.sex}:{entry.body_mass}')

MALE:4300.0
MALE:4100.0
MALE:4800.0
FEMALE:3800.0

## 3. Strings

#### Basics

In [23]:
# Seaching for things in strings (Case sensitive!)
"long" in "Life is a long lession in humility."

True

In [24]:
"life" in "Life is a long lession in humility.".lower()

True

In [1]:
string = "This is a NiCe StriNg. This is a much NiCer StriNg. But this is The MoSt NicEst StriNg!"

In [2]:
string.lower()

'this is a nice string. this is a much nicer string. but this is the most nicest string!'

In [3]:
string.upper()

'THIS IS A NICE STRING. THIS IS A MUCH NICER STRING. BUT THIS IS THE MOST NICEST STRING!'

In [4]:
string.capitalize()

'This is a nice string. this is a much nicer string. but this is the most nicest string!'

#### Separate lines

In [21]:
# Split all words
string.split()

['This',
 'is',
 'a',
 'NiCe',
 'StriNg.',
 'This',
 'is',
 'a',
 'much',
 'NiCer',
 'StriNg.',
 'But',
 'this',
 'is',
 'The',
 'MoSt',
 'NicEst',
 'StriNg!']

In [22]:
# Define specific conditions to split
string.split(sep = '. ', maxsplit = 2)

['This is a NiCe StriNg',
 'This is a much NiCer StriNg',
 'But this is The MoSt NicEst StriNg!']

In [6]:
# Define specific conditions to split
string.rsplit(sep = '. ', maxsplit = 2)

['This is a NiCe StriNg',
 'This is a much NiCer StriNg',
 'But this is The MoSt NicEst StriNg!']

In [23]:
# New example
string_2 = "This is a NiCe StriNg.\nThis is a much NiCer StriNg\nbut this is The MoSt NicEst StriNg!"
print(string_2)

This is a NiCe StriNg.
This is a much NiCer StriNg
but this is The MoSt NicEst StriNg!

In [9]:
# split lines by '.'
string_2.splitlines()

['This is a NiCe StriNg.',
 'This is a much NiCer StriNg',
 'but this is The MoSt NicEst StriNg!']

#### Join strings

In [10]:
my_list = ['This','would','be','a','string']
print(" ".join(my_list))

This would be a string

In [24]:
# Joining strings
child_ages = ["3" , "4", "5", "6"]
child_ages_str = ", ".join(child_ages)
print(child_ages_str)
print(type(child_ages_str))

print(child_ages)
print(type(child_ages))

3, 4, 5, 6
<class 'str'>
['3', '4', '5', '6']
<class 'list'>

#### Clean by character

In [11]:
string_3 = " This string will be stripped\n"

In [12]:
string_3.strip()

'This string will be stripped'

In [13]:
string_3.rstrip()

' This string will be stripped'

In [14]:
string_3.lstrip()

'This string will be stripped\n'

#### Search in a string

In [19]:
# Mathcing parts of a string (.startswith(), .endswith())
boy_names = ["Caleb", "Joshua", "Moses"]
print([name for name in boy_names if name.startswith("M")])

['Moses']

In [40]:
# new string
string_4 = 'Lovely, today is a brand new today.'

In [41]:
# Search target in string
find1_string = string_4.find('today')
find2_string = string_4.find('today', 0, 10) # start, end

print(find1_string) # result
print(find2_string) # no result

8
-1

In [42]:
# Search target in string
index1_string = string_4.index('today')
print(index1_string) # result

8

In [43]:
# Search target in string
try:
    index2_string = string_4.index('today', 0, 10) # start, end
except ValueError:
    print('Not found')

Not found

In [44]:
# count
count_string = string_4.count('day')
print(count_string)

2

In [45]:
# replace
replace_string = string_4.replace('today', 'tomorrow', 1) # old, new, count
print(replace_string)

Lovely, tomorrow is a brand new today.

#### String formatting

In [56]:
# f-string
cookie_name = 'Oreo'
cookie_price = '$1.99'

# Method 1
print(f"Each {cookie_name} cookie cost {cookie_price}.")

# Method 2a
print("Each {} cookie cost {}.".format(cookie_name, cookie_price))

# Method 2b
print("Each {cookie_name} cookie cost {cookie_price}.".format(cookie_name=cookie_name, cookie_price=cookie_price))

# Method 2c
print("Each {0} cookie cost {1}.".format(cookie_name, cookie_price))
print("Each {0} cookie cost {1:.2f}.".format(cookie_name, cookie_price))

Each Oreo cookie cost $1.99.
Each Oreo cookie cost $1.99.
Each Oreo cookie cost $1.99.
Each Oreo cookie cost $1.99.
Each Oreo cookie cost $1..

In [57]:
# Import datetime 
from datetime import datetime

# Assign date to get_date
get_date = datetime.now()

# Add named placeholders with format specifiers
message = "Good morning. Today is {today:%B %d, %Y}. It's {today:%H:%M} ... time to work!"

# Use the format method replacing the placeholder with get_date
print(message.format(today=get_date))

Good morning. Today is October 06, 2023. It's 10:43 ... time to work!

## 4. Dictionaries
* Hold data in key-value pairs
* Nestable
* Iterable

Safely finding by key (cont.)

```.get()``` method allow you to safely acces a key without error or exception handeling.

If a key is not in the dictionary, `.get()` returns `None` by default (or you can supply a value in return)

Dictionaries more pythonically
* `.items()`
* `.keys()`
* `.values()`

In [ ]:
# Create dict by looping
art_galaries = {}

for name, zip_code in galleraies:
    art_galleries[name] = zip_code

# Print keys in loop
for name in sorted(art_galleries)[-5:]:
    print(name)

In [ ]:
# .get() - Acces your data in a safe manner
art_galleries.get('Louvre', 'Not Found')

In [ ]:
# Add to dict
art_galleries['1007'] = galleries_1007
art_galleries['1123'].update(galleries_1123)

In [ ]:
# Popping and deleting from dict
del art_galleries['1234']
galleries_1031 = art_galleries.pop('1031') # More safe, just like .get() is also more safe

In [ ]:
# Pythionical
for gallery, phone_num in art_galleries.items():
    print(gallery)
    print(phone_num)

In [ ]:
# Check data is in dict `in`
if '10010' in art_galleries:
    print('I found: %s' % art_galleries['10010']) # print message it was found, with the value of the key.
else:
    print('No galleries found.')

Filling a dictionary with loops or `defaultdict`

In [ ]:
# Loops

for park_id, name in nyc_eateries:
    
    # Check if the key is already present. If not, create an empty list
    if park_id not in eateries:
        eateries[park_id] = []
    
    # Fill the dictionary
    eateries[park_id].append(name)

In [ ]:
# Defaultdict

from collections import defaultdict
eateries = defaultdict(type) # type like: list, int, ...

for park_id, name in nyc_eateries:
    eateries[park_id].append(name)

print(list(eateries))

## 5. Numeric data types

In [26]:
# Print precision of a float (default decimals = 6)
print(f"{0.0000001:f}") # 6 decimals
print(f"{0.0000001:.7f}") # 7 decimals

0.000000
0.0000001

In [28]:
# float dicition
4/2

2.0

In [29]:
# floor dicition
4//2

2

## 6. Booleans
* `True` = `1`, `"str"`, `["str","str"]`, `{"key":"value"}`, `None`
* `False` = `0`, `""`, `[]`, `{}`, `None`

## 7. sets
* Unique
* Unordered
* Mutable

In [37]:
# Make set from a list
cookies_eaten = ["brownie","brownie","chocolate chip","brownie"]
types_of_cookies_eaten = set(cookies_eaten)
print(types_of_cookies_eaten)

{'chocolate chip', 'brownie'}

In [38]:
# Modify a set
types_of_cookies_eaten.add('biscotti')
types_of_cookies_eaten.add('chocolate chip')
print(types_of_cookies_eaten)

{'chocolate chip', 'brownie', 'biscotti'}

In [39]:
# Modify a set with multiple values at once by updating the set
more_cookies_eaten = ['chocolate chip', 'brownie', 'cocos makron']
types_of_cookies_eaten.update(more_cookies_eaten)
print(types_of_cookies_eaten)

{'chocolate chip', 'cocos makron', 'brownie', 'biscotti'}

In [40]:
# Remove data from a set
types_of_cookies_eaten.discard('biscotti')
print(types_of_cookies_eaten)

{'chocolate chip', 'cocos makron', 'brownie'}

In [41]:
# Pop data from a set (show the top value)
types_of_cookies_eaten.pop()

'chocolate chip'

In [43]:
# .union() -- set of all the names (`or`)
cookies_me = set(['chocolate chip', 'brownie', 'cocos makron'])
cookies_you = set(['chocolate chip', 'biscotti', 'cocos makron'])
cookies_me.union(cookies_you)

{'chocolate chip', 'biscotti', 'cocos makron', 'brownie'}

In [44]:
# .intersection() -- identifies overlapping data (`and`)
cookies_me.intersection(cookies_you)

{'chocolate chip', 'cocos makron'}

In [46]:
# .difference() -- Data only found in 1 set (one way)
cookies_me.difference(cookies_you)

{'brownie'}

In [47]:
# .difference() -- Data only found in 1 set (other way)
cookies_you.difference(cookies_me)

{'biscotti'}

## Others

#### Collections
* `Counter(list)`
* `most_common(n)`

In [56]:
# Counter
from collections import Counter # Counter and most_common are imported

#### Dataclases
Few benefits:
* Support for default values
* Custom representations of the objects
* Easy tuple or a dictionary conversion
* Custom properties
* Forzen instances

In [57]:
# Make dataclass
from dataclasses import dataclass

@dataclass # Wrapper around some code that adds extra behaviors
class Cookie:
    name: str
    quantity: int = 0
        
chocolate_chip = Cookie('chocolate chip', 14)
print(chocolate_chip.name)
print(chocolate_chip.quantity)

chocolate chip
14

In [59]:
from dataclasses import asdict, astuple

ginger_molasses = Cookie('ginger molasses', 8)

# Convert dataclass into useful dict and tuples
asdict(ginger_molasses)

{'name': 'ginger molasses', 'quantity': 8}

In [60]:
# Convert dataclass into useful dict and tuples
astuple(ginger_molasses)

('ginger molasses', 8)

In [61]:
# Custom properties

from decimal import Decimal

@dataclass 
class Cookie:
    name: str
    cost: Decimal
    quantity: int = 0
    
    # Custom a new, not pre-defined property
    @property
    def value_of_goods(self):
        return int(self.quantity) * self.cost
    
peanut = Cookie("peanut butter", Decimal('1.2'), 8)
peanut.value_of_goods

Decimal('9.6')

In [64]:
# Frozen instances -> cant update after making

@dataclass(frozen=True)
class Cookie:
    name: str
    quantity: int = 0

c = Cookie('chocolate chip', 14)
print(c.name)

chocolate chip